/* universal selector - must be added to ALL css */
*{
    margin: auto;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1.6; */
    background-color: #f5f5f5;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: #cc0000; /*BU red*/
    color: white;
    text-align: center;
    padding: 5%;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;

    justify-content: center;
}

nav ul li{
    display: inline;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem 1.5rem;
}

nav a:hover {
    background-color: white;
}
