/* universal selector - must be added to ALL css */
*{
    margin: auto;
    box-sizing: border-box;
}

body{
    /* use calc() for font for better content scaling */
    font: calc(2px + 1.2vw) Arial, Helvetica, sans-serif; 
    background-color: #f5f5f5;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* header */
header {
    background-color: #cc0000; /*BU red*/
    color: white;
    text-align: center;
    padding: 5%;
}


/* nav */
nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav ul li{
    display: inline;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem 1.5rem;
}

nav a:hover {
    background-color: white;
}

/* main */
main{
    /* use vw for better scaling */
    max-width: 80vw; 
    margin: 2% auto;
    padding: 1.5%;
    background-color: white;
    border-radius: 6px;
}

main h2{
    padding-top: 4%;
    color: #cc0000;;
}

main img{
    max-width: 80vw;
    margin: 3%;
}

/* footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #eee;
    font-size: 0.9rem;
    margin-top: 2rem;
}