*{
    margin: auto;
    box-sizing: border-box;
}

body {
    /* use calc() for font for better page scaling */
    font: calc(2px + 1.2vw) Arial, Helvetica, sans-serif;
    background-color: #e9e6e6dd;
}

header {
    background-color: #cc0000; /*BU red*/
    color: white;
    text-align: center;
    padding: 5%;
}

/* nav */
nav{
    margin: 1%;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav ul li{
    display: inline;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem 1.5rem;
}

nav a:hover {
    background-color: white;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: white;
    border-radius: 6px;

    height: 100vh; /*so content actually reaches bottom of page*/
}

main img{
    max-width: 50vw;
    margin: 3%;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #eee;
    font-size: 0.9rem;
    margin-top: 2rem;
}
