/* universal selector - must be added to ALL css */
*{
    margin: auto;
    box-sizing: border-box;
}

body {
    /* use calc() for font for better page scaling */
    font: calc(2px + 1.2vw) Georgia, serif; 
    background-color: #e9e6e6dd;
    width: 100%;
    text-align: center;
}

/* header */
header {
    background-color: #cc0000; /*BU red*/
    color: white;
    text-align: center;
    padding: 5%;
}

/* nav */
nav{
    margin: 2%;
}

nav ul{
    padding-left: 0;
    list-style: none; 
}

nav ul li{
    display: inline;
    margin: 1%;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 1.5% 3%;
}

nav a:hover {
    background-color: pink;
}


/* main */
main {
    position: relative;
    max-width: 80vw;
    text-align: center;
    padding: 2%;
    border-radius: 6px;
    
    background-image: url("../src/drakemaye.png");
    background-repeat: repeat;
    opacity: 0.6;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}

main img{
    max-width: 50vw;
    margin: 3%;
}

#home-img{
    border: 5px dashed #cc0000;
}

.run-fencing{
    max-width: 30vw;
}

.multi-column{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.clubs-2-col{
    width: 50%;
}

.clubs-2-col img{
    max-width: 30vw;
}

.clubs-3-col{
    width: 33%;
}

.clubs-3-col img{
    max-width: 20vw;
}

.course-descriptions{
    width: 80%;
    color: #cc0000;
    margin-top: 2%;
}

h2{
    padding-top: 2%;
    color: black;
}

h3{
    padding-top: 2%;
}

/* footer */
footer {
    text-align: center;
    margin: 2%;
}

/* media queries - changes page layout when page size changes */
@media screen and (max-width: 1000px){
    .multi-column{
        flex-direction: column;
    }

    .multi-column img{
        max-width: 30vw;
    }
}