/* universal selector - must be added to ALL css */
*{
    margin: auto;
    box-sizing: border-box;
}

body {
    /* use calc() for font for better page scaling */
    font: calc(2px + 1.2vw) Georgia, serif; 
    background-color: #e9e6e6dd;
    width: 100%;
    text-align: center;
}

/* header */
header {
    background-color: #cc0000; /*BU red*/
    color: white;
    text-align: center;
    padding: 5%;
}

/* nav */
nav{
    margin: 2%;
}

nav ul{
    padding-left: 0;
    list-style: none; 
}

nav ul li{
    display: inline;
    margin: 1%;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 1.5% 3%;
}

nav a:hover {
    background-color: pink;
}


/* main */
main {
    max-width: 80vw;
    text-align: center;
    padding: 2%;
    background-color: white;
    border-radius: 6px;
}

main img{
    max-width: 50vw;
    margin: 3%;
}

#home-img{
    border: 5px dashed #cc0000;
}

.run-fencing{
    max-width: 30vw;
}

.course-descriptions{
    width: 80%;
    color: #cc0000;
    margin-top: 2%;
}

h2{
    padding-top: 2%;
    color: black;
}

h3{
    padding-top: 2%;
}

/* footer */
footer {
    text-align: center;
    margin: 2%;
}
